# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (if using Bare workflow)
android/
ios/

# Native build files
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*
.*env

# Typescript build info
*.tsbuildinfo

# Ignore supabase.ts
supabase.ts

# app-example (example of ignoring specific files)
app-example
